<%- include ("../partials/header") %>


<div id = "loader"></div>
<div class="main grid-container">
<div class="grid1">
  <div class="container">

    <label class="button uploader" for="file-selector" >
      <input type="file" size="60" id="file-selector" class="btn button btn-small"  ></input>
      <i class="fa fa-cloud-upload"></i>  Upload
  </label>
  
    
    <img src="" height="200" >
  </div>
  <div id="api-data">
    
  </div>
</div>
<div class="grid2">
  <div class="container">
    <header class="jumbotron">
      <h1>Welcome to your ServerLess Drive</h1>
    </header>
    

  <!-- <div class = "loader">
    <img src="/images/loader.gif" alt="description of gif" /> 
  </div> -->

 <div class="container">
   
    <div class="row"> 
        
       
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">NAME</th>
              <th scope="col">LAST MODIFIED</th>
			        
              <th scope="col">SIZE</th>
			         <th scope="col">DESCRIPTION</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < data.length; i++) { %>
            <tr class="implement_loop">
              <td><%= data[i]%></td>
              <td><%= metadata[i].LastModified %></td>
			        
              <td><%= metadata[i].ContentLength %> <%= metadata[i].AcceptRanges %> </td>
			        <td><%= metadata[i].ContentType %></td>
              <td>
                <button type="button" class="btn button-sm btn-sm" "><a href="https://serverlessdrive-latest.s3.us-east-2.amazonaws.com/<%= data[i]%>"">View</a></button>
                <button type="button" class="btn button-sm btn-sm download"" data-id="<%= data[i]%>""> Download</button>
				        <button type="button" id="button-delete" class="btn button-sm btn-sm delete" data-id="<%= data[i]%>"">Delete</button>					
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      
    </div>
    
		<br>
     
	
	
  </div>



    </div>
</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
$('#loader').hide();

 const fileSelector = document.getElementById('file-selector');
    fileSelector.addEventListener('change', (event) => {
    const fileList = event.target.files;
    console.log("filelist:",fileList[0]);
    createImage(fileList[0]);
    
    setTimeout(function(){ location.reload()
    $('#loader').show();
    }, 3000);
    $('#loader').hide();
  });
  
  async function createImage (file) {
      // var image = new Image()
      console.log("createimage called");
      let image = '';
      let filetype = file.type.toString();
      const preview = document.querySelector('img');

      let reader = new FileReader();
      reader.addEventListener("load", function () {
        // convert image file to base64 string
        preview.src = reader.result;
        image = reader.result;
        }, false);
        if (file) {
          let img = reader.readAsDataURL(file);
        }
        //axios request
        const response = await axios({
        method: 'GET',
        url: 'https://wmw6blss1e.execute-api.us-east-2.amazonaws.com/default/putObject?name=' + `${file.name}` + '&type=' + `${filetype}`,
        });
        console.log('Response: ', response.data);
        console.log('Uploading: ', image);
      //upload blob conversion
      let binary = atob(image.split(',')[1]);
      let array = []
      for (var i = 0; i < binary.length; i++) {
        array.push(binary.charCodeAt(i))
      }
      let blobData = new Blob([new Uint8Array(array)], {type: `${filetype}`});
      console.log('Uploading to: ', response.data.uploadURL);


      const result = await fetch(response.data.uploadURL, {
        method: 'PUT',
        body: blobData
      });
      console.log('Result: ', result);
}

$('button.download').click(async function () {
    var id = this.dataset.id;
    // do something with id 
    console.log(id);
    const data = await axios({
        method: 'GET',
        url: 'https://vyeu8kbzjl.execute-api.us-east-2.amazonaws.com/default/getObject?name=' + `${id}`,
        });
    console.log(data);
    let blob=new Blob([data.data.Body], {type: data.data.ContentType});
    let link=document.createElement('a');
    link.href=window.URL.createObjectURL(blob);
    link.download=id;
    link.click();   
    console.log("Successful",id);
    
});

$('button.delete').click(async function () {
    var id = this.dataset.id;
    // do something with id 
    console.log(id);
    const data = await axios({
        method: 'GET',
        url: 'https://7pei495lsi.execute-api.us-east-2.amazonaws.com/default/pydelete?name=' + `${id}`,
        });
    console.log(data);
     
    console.log("Successful",id);
    setTimeout(function(){ location.reload()
    $('#loader').show();
    }, 3000);
    $('#loader').hide();
});






 
</script>


<%- include ("../partials/footer") %>
